database
omnificent
tests
.git
.idea

.dockerignore
.env
.env.example
.gitattributes
.gitignore
.htaccess
.npmignore

circle.yml
composer.*
docker-compose.yml
Dockerfile
gulpfile.js
package.json
phpspec.yml
phpunit.xml
web.config

node_modules
*/node_modules
*/*/node_modules
*/*/*/node_modules
*/*/*/*/node_modules
*/*/*/*/*/node_modules
*/*/*/*/*/*/node_modules
*/*/*/*/*/*/*/node_modules
*/*/*/*/*/*/*/*/node_modules
*/*/*/*/*/*/*/*/*/node_modules

*.log
*/*.log
*/*/*.log
*/*/*/*.log
*/*/*/*/*.log
*/*/*/*/*/*.log
*/*/*/*/*/*/*.log
*/*/*/*/*/*/*/*.log
*/*/*/*/*/*/*/*/*.log
*/*/*/*/*/*/*/*/*/*.log

*.md
*/*.md
*/*/*.md
*/*/*/*.md
*/*/*/*/*.md
*/*/*/*/*/*.md
*/*/*/*/*/*/*.md
*/*/*/*/*/*/*/*.md
*/*/*/*/*/*/*/*/*.md
*/*/*/*/*/*/*/*/*/*.md

*.txt
*/*.txt
*/*/*.txt
*/*/*/*.txt
*/*/*/*/*.txt
*/*/*/*/*/*.txt
*/*/*/*/*/*/*.txt
*/*/*/*/*/*/*/*.txt
*/*/*/*/*/*/*/*/*.txt
*/*/*/*/*/*/*/*/*/*.txt
